#jogos1, th, td {
    border: 2px solid rgb(49, 1, 17);
    border-collapse: collapse;
    text-align: center;
  }
  
  #info {
    position: sticky;
    background-color: rgb(240, 235, 237);
    padding: 20px;
    width: 70%;
    margin-top: 485px;
    margin-left: 300px;
  }
  
  .tabela1 {
    text-align: center;
  }
  
  #primeira {
      background-color: rgb(211, 177, 187);
  }